apiVersion: v2
name: BE Helm Chart
description: Helm chart for BE Applications.

# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates.
version: 1.1.0

dependencies:
  - name: mysql
    version: 1.6.2
    repository: https://kubernetes-charts.storage.googleapis.com/
    alias: mysql
    condition: mysql.enabled
    tags:
      - database
  - name: efs-provisioner
    version: 0.11.0
    repository: https://kubernetes-charts.storage.googleapis.com/    
    alias: aws-efs
    condition: aws-efs.enabled
    tags:
      - fileStore 