
#
# Copyright (c) 2019-2020. TIBCO Software Inc.
# This file is subject to the license terms contained in the license file that is distributed with this file.
#


{{- if and (eq .Values.cpType "awsfargate" ) (eq .Values.bsType "sharednothing") }}
apiVersion: storage.k8s.io/v1beta1
kind: CSIDriver
metadata:
  name: efs.csi.aws.com
spec:
  attachRequired: false
{{- end }}

---

{{- if or (eq .Values.cpType "awsfargate") (eq .Values.volumes.storageClass "efs-sc") }}
{{- if eq .Values.bsType "sharednothing" }}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{ .Values.volumes.storageClass }}"
provisioner: efs.csi.aws.com
parameters:
  provisioningMode: efs-ap
  fileSystemId: {{ .Values.aws.efsFileSystemId}}
  directoryPerms: "700"
{{- end }}
{{- end }}
---

{{- if and (eq .Values.cpType "awsfargate") (eq .Values.volumes.storageClass "efs-sc") }}
{{- if eq .Values.bsType "sharednothing" }}
{{- $root := . -}}
{{range untilStep 0 (.Values.cachenode.replicaCount | int) 1 }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "efs-pv-cache-{{.}}"
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "{{$root.Values.volumes.storageClass}}"
  csi:
    driver: efs.csi.aws.com
    volumeHandle: "{{$root.Values.aws.efsFileSystemId}}"
  claimRef:
    namespace: default
    name: {{$root.Values.volumes.snmountVolume}}-{{ $.Release.Name }}-{{- $root.Values.cachenode.name -}}-{{.}}
---
{{end}}
{{- end }}
{{- end }}

{{- if and (eq .Values.cpType "awsfargate") (eq .Values.volumes.storageClass "efs-sc") }}
{{- if eq .Values.bsType "sharednothing" }}
{{- $root := . -}}
{{range untilStep 0 (.Values.inferencenode.replicaCount | int) 1 }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "efs-pv-inference-{{.}}"
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "{{$root.Values.volumes.storageClass }}"
  csi:
    driver: efs.csi.aws.com
    volumeHandle: "{{$root.Values.aws.efsFileSystemId }}"
  claimRef:
    namespace: default
    name: {{$root.Values.volumes.snmountVolume}}-{{ $.Release.Name }}-{{- $root.Values.inferencenode.name -}}-{{.}}
---
{{end}}
{{- end }}
{{- end }}